{
    "name":"unknown",
    "guid":"123",
    "web_timeout":3000,
    "web_username":"root",
    "web_password":"123",
    "web_proxy_url":"http://xxx",
    "web_proxy_username":"root",
    "web_proxy_password":"123",
    "web_ca_cert_path":"/usr/share/dcus/ssl/local/local-ca.crt",
    "net_interface":"eth0",
    "download_dir":"/tmp/dcus_client"
}
